@charset "UTF-8";
/*引入变量*/
/*主色调*/
/*背景颜色*/
/*默认字体*/
/*字体颜色*/
/*常用颜色*/
/*边框颜色*/
/**
 * 按钮
 * button.scss
 */
/**
 * 表格
 * table.scss
 */
/**
 * 间距
 * marginPadding.scss
 */
/*设置行高和行间距*/
/*过渡效果*/
/*placeholder*/
.placeholder {
  color: #666;
}

/*浏览器提示*/
.browserCnt > span {
  line-height: 30px;
}

/*在此写你的项目scss*/
.h1 {
  color: #5eb95e;
  margin-top: 10px;
}
