@charset "UTF-8";

/*引入变量*/
@import "scss/variable";


/*placeholder*/
.placeholder{ color:#666; }

/*浏览器提示*/
.browserCnt{
	> span{ line-height: 30px; }
}


/*在此写你的项目scss*/
.h1{
	color:$success;
	margin-top:10px;
}