@charset "UTF-8";

/*填充*/

/**
 * 0  0px
 * xl 5px
 * sm 10px
 * default 15px
 * lg 20px
 * xl 30px
 *
 * vertical 上下
 * horizontal 左右
 * top bottom left right 上下左右
 */


.cb-center{
  margin-left:auto;
  margin-right:auto;
}

.cb-margin {
  margin: 15px;
}
.cb-margin-0 {
  margin: 0!important;
}
.cb-margin-xs {
  margin: 5px;
}
.cb-margin-sm {
  margin: 10px;
}
.cb-margin-lg {
  margin: 20px;
}
.cb-margin-xl {
  margin: 30px;
}
.cb-margin-horizontal {
  margin-left: 15px;
  margin-right: 15px;
}
.cb-margin-horizontal-0 {
  margin-left: 0!important;
  margin-right: 0!important;
}
.cb-margin-horizontal-xs {
  margin-left: 5px;
  margin-right: 5px;
}
.cb-margin-horizontal-sm {
  margin-left: 10px;
  margin-right: 10px;
}
.cb-margin-horizontal-lg {
  margin-left: 20px;
  margin-right: 20px;
}
.cb-margin-horizontal-xl {
  margin-left: 30px;
  margin-right: 30px;
}
.cb-margin-vertical {
  margin-top: 15px;
  margin-bottom: 15px;
}
.cb-margin-vertical-0 {
  margin-top: 0!important;
  margin-bottom: 0!important;
}
.cb-margin-vertical-xs {
  margin-top: 5px;
  margin-bottom: 5px;
}
.cb-margin-vertical-sm {
  margin-top: 10px;
  margin-bottom: 10px;
}
.cb-margin-vertical-lg {
  margin-top: 20px;
  margin-bottom: 20px;
}
.cb-margin-vertical-xl {
  margin-top: 30px;
  margin-bottom: 30px;
}
.cb-margin-top {
  margin-top: 15px;
}
.cb-margin-top-0 {
  margin-top: 0!important;
}
.cb-margin-top-xs {
  margin-top: 5px;
}
.cb-margin-top-sm {
  margin-top: 10px;
}
.cb-margin-top-lg {
  margin-top: 20px;
}
.cb-margin-top-xl {
  margin-top: 30px;
}
.cb-margin-bottom {
  margin-bottom: 15px;
}
.cb-margin-bottom-0 {
  margin-bottom: 0!important;
}
.cb-margin-bottom-xs {
  margin-bottom: 5px;
}
.cb-margin-bottom-sm {
  margin-bottom: 10px;
}
.cb-margin-bottom-lg {
  margin-bottom: 20px;
}
.cb-margin-bottom-xl {
  margin-bottom: 30px;
}
.cb-margin-left {
  margin-left: 15px;
}
.cb-margin-left-0 {
  margin-left: 0!important;
}
.cb-margin-left-xs {
  margin-left: 5px;
}
.cb-margin-left-sm {
  margin-left: 10px;
}
.cb-margin-left-lg {
  margin-left: 20px;
}
.cb-margin-left-xl {
  margin-left: 30px;
}
.cb-margin-right {
  margin-right: 15px;
}
.cb-margin-right-0 {
  margin-right: 0!important;
}
.cb-margin-right-xs {
  margin-right: 5px;
}
.cb-margin-right-sm {
  margin-right: 10px;
}
.cb-margin-right-lg {
  margin-right: 20px;
}
.cb-margin-right-xl {
  margin-right: 30px;
}
/* Padding helpers */
.cb-padding {
  padding: 15px;
}
.cb-padding-0 {
  padding: 0!important;
}
.cb-padding-xs {
  padding: 5px;
}
.cb-padding-sm {
  padding: 10px;
}
.cb-padding-lg {
  padding: 20px;
}
.cb-padding-xl {
  padding: 30px;
}
.cb-padding-horizontal {
  padding-left: 15px;
  padding-right: 15px;
}
.cb-padding-horizontal-0 {
  padding-left: 0!important;
  padding-right: 0!important;
}
.cb-padding-horizontal-xs {
  padding-left: 5px;
  padding-right: 5px;
}
.cb-padding-horizontal-sm {
  padding-left: 10px;
  padding-right: 10px;
}
.cb-padding-horizontal-lg {
  padding-left: 20px;
  padding-right: 20px;
}
.cb-padding-horizontal-xl {
  padding-left: 30px;
  padding-right: 30px;
}
.cb-padding-vertical {
  padding-top: 15px;
  padding-bottom: 15px;
}
.cb-padding-vertical-0 {
  padding-top: 0!important;
  padding-bottom: 0!important;
}
.cb-padding-vertical-xs {
  padding-top: 5px;
  padding-bottom: 5px;
}
.cb-padding-vertical-sm {
  padding-top: 10px;
  padding-bottom: 10px;
}
.cb-padding-vertical-lg {
  padding-top: 20px;
  padding-bottom: 20px;
}
.cb-padding-vertical-xl {
  padding-top: 30px;
  padding-bottom: 30px;
}
.cb-padding-top {
  padding-top: 15px;
}
.cb-padding-top-0 {
  padding-top: 0!important;
}
.cb-padding-top-xs {
  padding-top: 5px;
}
.cb-padding-top-sm {
  padding-top: 10px;
}
.cb-padding-top-lg {
  padding-top: 20px;
}
.cb-padding-top-xl {
  padding-top: 30px;
}
.cb-padding-bottom {
  padding-bottom: 15px;
}
.cb-padding-bottom-0 {
  padding-bottom: 0!important;
}
.cb-padding-bottom-xs {
  padding-bottom: 5px;
}
.cb-padding-bottom-sm {
  padding-bottom: 10px;
}
.cb-padding-bottom-lg {
  padding-bottom: 20px;
}
.cb-padding-bottom-xl {
  padding-bottom: 30px;
}
.cb-padding-left {
  padding-left: 15px;
}
.cb-padding-left-0 {
  padding-left: 0!important;
}
.cb-padding-left-xs {
  padding-left: 5px;
}
.cb-padding-left-sm {
  padding-left: 10px;
}
.cb-padding-left-lg {
  padding-left: 20px;
}
.cb-padding-left-xl {
  padding-left: 30px;
}
.cb-padding-right {
  padding-right: 15px;
}
.cb-padding-right-0 {
  padding-right: 0!important;
}
.cb-padding-right-xs {
  padding-right: 5px;
}
.cb-padding-right-sm {
  padding-right: 10px;
}
.cb-padding-right-lg {
  padding-right: 20px;
}
.cb-padding-right-xl {
  padding-right: 30px;
}