<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="keywords" content="gulp,demo">
	<meta name="description" content="gup demo">
	<!-- Set render engine for 360 browser -->
	<meta name="renderer" content="webkit">
	<!-- No Baidu Siteapp-->
	<meta http-equiv="Cache-Control" content="no-siteapp">
	<link rel="icon" type="image/png" href="favicon.ico">
	<title>Gulp Demo and UI Demo</title>
	<link rel="stylesheet" href="assets/css/base.css">
	<link rel="stylesheet" href="assets/css/app.css">
	<link id="iconfont" rel="stylesheet" href="">
</head>
<body>

<!-- 浏览器升级提示 -->
<div class="browserCnt lc-bg-danger lc-nbfc lc-padding-horizontal-xl lc-padding-vertical-sm lc-hide" id="browserCnt">
	<span class="lc-show lc-fl lc-text-white">您正在使用过时的浏览器，请及时升级获得更好浏览体验。</span>
	<button class="lc-btn lc-btn-default lc-fr lc-radius-4 lc-margin-left" id="closeBrowser" type="button">明日提醒我</button>
	<a class="lc-btn lc-btn-success lc-fr lc-radius-4" href="http://browsehappy.com/" target="_blank">浏览器升级</a>
</div>


<!-- 在此写你的代码 -->

<h1 class="lc-text-main1" id="test">Hello,world.</h1>
<hr>
<button class="lc-btn lc-btn-default">按钮</button>
<button class="lc-btn lc-btn-info">按钮</button>
<button class="lc-btn lc-btn-success">按钮4545</button>
<button class="lc-btn lc-btn-warning">按钮</button>

<div style="height:1000px;">454</div>


<!-- script -->
<script src="assets/js/jquery-1.12.4.min.js"></script>
<script src="assets/js/bowser.js"></script>
<!--[if lt IE 9]>
  <script src="assets/js/html5shiv.min.js"></script>
  <script src="assets/js/respond.min.js"></script>
<![endif]-->
<script src="assets/js/app.js"></script>
<script>
$(document).ready(function() {

	$('#test').html(bowser.name+','+bowser.version);
	try{
		console.dir(bowser);
		console.log(bowser.check({msie: "11"}));
		console.log(bowser.check({msie: "9.0"}));
		console.log(bowser.msie);
	}catch(e){

	}
});
</script>
</body>
</html>