<!DOCTYPE html>
<html lang="zh-CN" class="no-js">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="keywords" content="海尔，信息共享平台，DTS">
	<meta name="description" content="信息共享平台">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>gulp and 自己框架 demo</title>

	<!-- Set render engine for 360 browser -->
	<meta name="renderer" content="webkit">

	<!-- No Baidu Siteapp-->
	<meta http-equiv="Cache-Control" content="no-siteapp"/>

	<link rel="icon" type="image/png" href="favicon.png">
	<link rel="stylesheet" href="assets/css/base.min.css">
	<link rel="stylesheet" href="assets/css/app.min.css">
	<link id="iconfont" rel="stylesheet" href="">
</head>
<body class="">

	<h1 class="h1" data-hook="h1 hh">hello,world.</h1>
	<table class="lc-table lc-table-bordered">
		<tr>
			<td>我是001</td>
			<td>我是002</td>
			<td>我是003</td>
			<td>我是004</td>
			<td>我是005</td>
			<td>我是006</td>
			<td>我是007</td>
		</tr>
		<tr>
			<td>我是001</td>
			<td>我是002</td>
			<td>我是003</td>
			<td>我是004</td>
			<td>我是005</td>
			<td>我是006</td>
			<td>我是007</td>
		</tr>
	</table>

<script src="assets/js/jquery-1.12.4.min.js"></script>
<script src="assets/js/app.min.js"></script>
<script>
	$(document).ready(function() {
		$.hook('h1').text(111);
	});
</script>
</body>
</html>